
*{
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    position: absolute;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    border: 2px solid;
    width: 12vh;
    transition: 0.3s;
}

button:hover{
    scale: 0.95;
}

.Right{
    top: 50%;
    right: 3vh;
}

.Left{
    top: 50%;
    left: 3vh;
}

button:active{
    color: rgba(189, 189, 215, 0.861);
}

.images{
    height: 280px;
}
