
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.div{
    border: 2px solid;
    margin: 5px;
}

button{
    height: 30px;
    cursor: pointer;
}

.completeButton{
 background-color: rgba(6, 142, 6, 0.758);
 border: rgba(6, 142, 6, 0.758) ;   
}

.completeButton:hover{
    background-color: wheat;
}

.container{

    width: 40vh;
    height: 20vh;
    background-color: rgba(30, 30, 141, 0.199);
}